@use './variable';

.news {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .ftndtec {
    font-size: 18px;
  }
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 10px;
  height: 50px;

  input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f1f0f0;
    height: 100%;
    width: 270px;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: variable.$primary-color;
    height: 100%;
    border-radius: 5px;
    color: white;
  }
}

@media only screen and (max-width: 900px) {
  .news {
    padding: 10px 20px ;
  }
}

@media only screen and (max-width: 668px) {
  .news-container {
    flex-wrap: wrap;
    gap: 20px;
    height: auto;

    input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}