@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6784313725);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease;
}
.links a:hover {
  color: #42454A;
}
.links a .fake-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-div {
  height: 40px;
}
.btn-div button {
  border: 1px solid transparent;
  padding: 5px 15px;
  border-radius: 5px;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-div button:nth-child(1) {
  background-color: transparent;
  margin-right: 20px;
}
.btn-div button:nth-child(1):hover {
  border: 1px solid black;
}
.btn-div button:nth-child(2) {
  background-color: #42454A;
  color: white;
}
.btn-div button:nth-child(2):hover {
  border: 1px solid black;
}

.hero-section {
  padding: 20px 50px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 43%;
}
.hero-container .hero-content .smalltext {
  font-size: 20px;
  width: 65%;
}
.hero-container .hero-content .largetext {
  margin-top: 20px;
}
.hero-container .hero-content .largetext h2:nth-child(2) {
  font-size: 4rem;
  font-weight: 600;
  color: #333;
}
.hero-container .hero-content .largetext h2:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 400;
  color: #333;
}
.hero-container .hero-content .line {
  width: 60%;
  height: 3px;
  background-color: #42454A;
}
.hero-container .hero-content .buy-now {
  display: flex;
  gap: 40px;
}
.hero-container .hero-content .buy-now p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.hero-container .hero-content .buy-now .watch-it {
  max-width: 110px;
}
.hero-container .hero-content .buy-now span {
  background-color: #42454A;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container .hero-image {
  width: 55%;
}
.hero-container .hero-image img {
  width: 100%;
  margin-left: 50px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features .feat {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  width: 170px;
  height: 120px;
  gap: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.features .feat .metric {
  color: #6a6a6a;
  text-align: center;
  font-size: small;
}
.features .feat span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.features .feat span .val {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.8;
}
.features .feat span .si-unit {
  font-size: small;
}

.product-info {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}
.product-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.product-info .ftndtec {
  font-size: 18px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 20px 0;
  width: 100%;
}
.product-container .product-image {
  width: 58%;
}
.product-container .product-image img {
  width: 100%;
  margin-right: 50px;
}
.product-container .product-details {
  width: 40%;
}
.product-container .product-details span {
  display: flex;
  align-items: center;
  gap: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

button {
  font-family: "Ubuntu", sans-serif;
}/*# sourceMappingURL=App.css.map */